.u-section-1 .u-sheet-1 {
    min-height: 604px;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin: 37px auto 0 0;
  }
  
  .u-section-1 .u-btn-2 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin: -50px 0 0 auto;
  }
  
  .u-section-1 .u-table-1 {
    margin-top: 41px;
    margin-bottom: 60px;
  }
  
  .u-section-1 .u-table-entity-1 {
    min-height: 100px;
  }
  
  .u-section-1 .u-table-header-1 {
    font-weight: 700;
    background-image: none;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-btn-1 {
      margin-top: 1px;
    }
  }
  table.blueTable {
    border: 0px solid #333333;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 2px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #04AA6D;
    background: -moz-linear-gradient(top, #43bf91 0%, #1db27b 66%, #04AA6D 100%);
    background: -webkit-linear-gradient(top, #43bf91 0%, #1db27b 66%, #04AA6D 100%);
    background: linear-gradient(to bottom, #43bf91 0%, #1db27b 66%, #04AA6D 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #04AA6D;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}



@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
font-family: Roboto;
}

section {
width: 100%;
display: inline-block;
background: #ccc;
height: 60vh;
text-align: center;
font-size: 22px;
font-weight: 700;
text-decoration: underline;
}

.footer-distributed {
background-color: #292c2f;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
font: normal 16px sans-serif;
padding: 45px 50px;
}

.footer-distributed .footer-left p {
color: #8f9296;
font-size: 14px;
margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
font-size: 18px;
font-weight: bold;
color: #ffffff;
margin: 0 0 10px;
padding: 0;
transition: ease .25s;
}

.footer-distributed p.footer-links a {
display: inline-block;
line-height: 1.8;
text-decoration: none;
color: inherit;
transition: ease .25s;
}

.footer-distributed .footer-links a:before {
content: "·";
font-size: 20px;
left: 0;
color: #fff;
display: inline-block;
padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
content: none;
}

.footer-distributed .footer-right {
float: right;
margin-top: 6px;
max-width: 180px;
}

.footer-distributed .footer-right a {
display: inline-block;
width: 35px;
height: 35px;
background-color: #33383b;
border-radius: 2px;
font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;
margin-left: 3px;
transition:all .25s;
}
.footer-distributed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
.footer-distributed .footer-left, .footer-distributed .footer-right {
  text-align: center;
}
.footer-distributed .footer-right {
  float: none;
  margin: 0 auto 20px;
}
.footer-distributed .footer-left p.footer-links {
  line-height: 1.8;
}
}